.box-menu {
	background-color: #ae77dd;
}

.box-menu > div {
	align-items: center;
}

.box-menu .menu {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.menu li {
	/* padding: 10px 0; */
}

.nome-usuario {
	align-self: stretch;
}

.menu li a {
	padding: 0 20px;
	font-size: 0.8125em;
	line-height: 50px;
	font-weight: 400;
	color: #fff;
}

.btn-sair {
	margin-left: 50px;
	cursor: pointer;
}

.nome-usuario {
	color: #fff;
	font-size: 1.1em;
	align-self: center;
}

.menu li a:hover {
	color: #333;
}

.active {
	color: #333;
}
